################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rashtan.AuditStory
*.suo
*.user
.ionide
.vscode
.vs
_ReSharper.*
bin
obj
packages
appsettings.json
appsettings.test.json
